.gallery{
    display: flex;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 0 100px 50px;
    height: 829px;
    overflow: auto;
    overflow-x: hidden;

    @media (max-width: 768px){
        flex-direction: column;
        margin: 0 20px;
        padding: 0;
        background-color: white;
        border-radius: 0;
        height: 700px;
    }

    .logements{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        height: 100%;

        @media (max-width: 768px){
            gap: 0px;
        }

        a{
            width: 30%;
            height: 375px;
            border-radius: 5px;
            margin: 10px 0;
            flex-grow: 1;

            @media (max-width: 768px){
                width: 100%;
                height: 210px;
            }
        }
    
        .card_img{
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
            height: 375px;
            box-shadow: 1px -49px 50px 1px rgba(0,0,0,0.50) inset;
            filter: brightness(85%);

            @media (max-width: 768px){
                height: 210px;
            }
        }

        figure{
            padding: 0;
            margin: 0;
            position: relative;
        }

        .logement_title{
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: white;
        }
    }
}