.infos_container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 0 100px 40px;

    @media (max-width: 768px){
        margin: 0 20px 50px;
        flex-direction: column;
        gap: 30px
    }

    .collapse{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;

        @media (max-width: 768px){
            width: 100%;
        }
    }

    .infos_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        color: white;
        padding: 0 15px;
        border-radius: 15px;
        cursor: pointer;

        @media (max-width: 768px){
            font-size: 13px;
            height: 40px;
            border-radius: 5px;
        }
    }

    .content{
        background-color: #F6F6F6;
        color: #FF6060;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 20px;
        overflow: hidden;
        transition: 400ms;
        max-height: 0px;

        .content_description{
            margin-top: -60px;
            transition: 400ms;
            
            @media (max-width: 768px){
                font-size: 13px;
            }
        }

        .equipments{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: -60px;
            transition: 400ms;

            @media (max-width: 768px){
                font-size: 13px;
            }

            p{
                padding: 0;
                margin: 0;
            }
        }
    }

    .content.show{
        max-height: 200px;
        transition: 400ms;

        .equipments{
            margin-bottom: 20px;
            margin-top: 20px;
            transition: 400ms;
        }

        .content_description{
            margin-bottom: 20px;
            margin-top: 20px;
            transition: 400ms;
        }
    }
}